<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Novo <%= name %></h1>
</div>

<div class="row">
  <div class="col col-md-8">
    <%%= render 'form', <%= name %>: @<%= name %> %>
  </div>
</div>
